.flex-xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute-xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin flex-xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
